[Unit]
Description=A rule based proxy in Go
After=network.target

[Service]
Type=exec
Restart=on-abort
ExecStart=clash -d %h/.config/clash
LimitNOFILE=65536
#AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
Slice=noproxy.slice

[Install]
WantedBy=default.target