[submodule ".vim/pack/plugin/start/markdown-preview.nvim"]
	path = .config/vim/pack/plugin/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule ".vim/pack/plugin/start/vim-slime"]
	path = .config/vim/pack/plugin/start/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule ".vim/pack/plugin/start/vim-qml"]
	path = .config/vim/pack/plugin/start/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule ".vim/pack/plugin/start/nerdtree"]
	path = .config/vim/pack/plugin/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugin/start/vim-airline"]
	path = .config/vim/pack/plugin/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugin/start/indentLine"]
	path = .config/vim/pack/plugin/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugin/start/vim-systemd-syntax"]
	path = .config/vim/pack/plugin/start/vim-systemd-syntax
	url = https://github.com/wgwoods/vim-systemd-syntax.git
[submodule ".config/vim/pack/plugin/start/rust.vim"]
	path = .config/vim/pack/plugin/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".config/vim/pack/plugin/start/coc.nvim"]
	path = .config/vim/pack/plugin/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule ".config/vim/pack/plugin/start/vimtex"]
	path = .config/vim/pack/plugin/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".config/vim/pack/plugin/start/vim-clap"]
	path = .config/vim/pack/plugin/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
[submodule ".config/vim/pack/plugin/start/nerdcommenter"]
	path = .config/vim/pack/plugin/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".config/vim/pack/plugin/start/vim-gitgutter"]
	path = .config/vim/pack/plugin/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
